<br>
     <div id="error-page">
      <br><br><br>
         <div class="content">
            <h2 class="header" data-text="404">
               404
               <span>Opps! Page not found</span>
            </h2>
            <h4 data-text="Opps! Page not found">
            <br>
            </h4>
            <p style="font-size: large;">
               Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <br><br><br>
            <div class="btns">
               <a class="a btn btn-primary" >return Home</a>
               <a class="a btn btn-warning" routerLink="#">report problem</a>
            </div>
         </div>
      </div>
