
<div class="main">
    <br>
    <p style="color:aliceblue; font-size: 40px;">Hotels And Restaurents</p>
    <br>
    <div class="body">
      <div class="row">
        <div class="col-md-4">
          <img src="assets\h1.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(77, 92, 97); font-weight: bold;">Novotal Hotel</h4>
          <p>Novotal is a 5 Star Hotel. Luxuious and Radiant Hotel in the Visakhapatanam.
            <br>
            Welcome to Novotel Visakhapatnam Varun Beach! Enjoy and Relax your stay by the Beach. Overlooking a
            picturesque panoramic view of the Bay of Bengal.
          </p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <br>
          <h5>Price(for 24Hrs): <span class="pricetag"><b>3500</b></span></h5>
  
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Bed
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>PickUp and Drop
  
          <a style="float: right;" routerLink="hoteldetails" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets\h2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(77, 92, 97); font-weight: bold;">Radiason Hotel</h4>
          <p>Radiason Hotel is a 5 Star Hotel. Luxuious and Radiant Hotel in the
            Visakhapatanam.
            <br>
            Radisson Blu Resort Visakhapatnam features free bikes, outdoor swimming pool, a fitness center and garden in
            Visakhapatnam. Featuring room service, this property also provides guests with a sun terrace. The property
            provides a 24-hour front desk, airport transportation, a kids' club and free WiFi.
          </p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br><br>
          <h5>Price(for 24Hrs): <span class="pricetag"><b>4500</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Bed
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>PickUp and Drop
  
          <a style="float: right;" routerLink="hoteldetails" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/h8.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(77, 92, 97); font-weight: bold;">RamaChandra Restaurent</h4>
          <p>RamaChandra Restaurent is a 3 Star Hotel. Best Restaurent in the Visakhapatanam.
            <br>
            Spacious and air-conditioned, all rooms come with a flat-screen TV, minibar and personal safe. Some rooms have
            a seating area. En suite bathrooms have either a bathtub or shower, as well as free toiletries
          </p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br><br>
          <h5>Price(for 24Hrs): <span class="pricetag"><b>3000</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Bed
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>PickUp and Drop
  
          <a style="float: right;" routerLink="hoteldetails" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/h4.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(77, 92, 97); font-weight: bold;">Gandhi hotel</h4>
          <p>Gandhi Hotel is a 3 Star Hotel. Luxuious and Radiant Hotel in the Aruku and
            Visakhapatanam. <br>
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br><br>
          <h5>Price(for 24Hrs):<span class="pricetag"><b>2000</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Bed
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>PickUp and Drop
  
          <a style="float: right;" routerLink="hoteldetails" class="btn btn-info">More Details</a>
        </div>
      </div>
    </div>
  </div>
  
