
<div class="main">
    <br>
    <p style="font-size: 40px;">Travel Packs</p>
    <br>
    <div class="body">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/4.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Araku</h4>
          <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
            nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
            journey to Araku...
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <h5>price: <span class="pricetag"><b>4000</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Hotel
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>Travel
          &nbsp;
          <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
          <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/lambasingi.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Lambasingi</h4>
          <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
            nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
            journey to Araku...
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <h5>price: <span class="pricetag"><b>1500</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Hotel
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>Travel
          &nbsp;
          <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
          <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/adv1.jpg" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Vizag</h4>
        <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
          nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
          journey to Araku...
          Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
          for its scenic beauty. Located on the eastern ghats</p>
        <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
            style="color:red">Standard</span></small>
        <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
          Excludes:<span style="color:red">Standard</span></small>
        <br>
        <h5>price: <span class="pricetag"><b>3000</b></span></h5>
        <i class="fa fa-cutlery" aria-hidden="true"></i>Food
        &nbsp;
        <i class="fa fa-bed" aria-hidden="true"></i>Hotel
        &nbsp;
        <i class="fa fa-car" aria-hidden="true"></i>Travel
        &nbsp;
        <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
        <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/5.jpg" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Aruku+Vizag</h4>
        <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
          nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
          journey to Araku...
          Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
          for its scenic beauty. Located on the eastern ghats</p>
        <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
            style="color:red">Standard</span></small>
        <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
          Excludes:<span style="color:red">Standard</span></small>
        <br>
        <h5>price: <span class="pricetag"><b>6000</b></span></h5>
        <i class="fa fa-cutlery" aria-hidden="true"></i>Food
        &nbsp;
        <i class="fa fa-bed" aria-hidden="true"></i>Hotel
        &nbsp;
        <i class="fa fa-car" aria-hidden="true"></i>Travel
        &nbsp;
        <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
        <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/l1.jpg" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Aruku+Vizag+Lambasingi</h4>
        <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
          nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
          journey to Araku...
          Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
          for its scenic beauty. Located on the eastern ghats</p>
        <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
            style="color:red">Standard</span></small>
        <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
          Excludes:<span style="color:red">Standard</span></small>
        <br>
        <h5>price: <span class="pricetag"><b>8000</b></span></h5>
        <i class="fa fa-cutlery" aria-hidden="true"></i>Food
        &nbsp;
        <i class="fa fa-bed" aria-hidden="true"></i>Hotel
        &nbsp;
        <i class="fa fa-car" aria-hidden="true"></i>Travel
        &nbsp;
        <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
        <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/l3.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Vanajangi+Lambasingi</h4>
          <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
            nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
            journey to Araku...
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <h5>price: <span class="pricetag"><b>6000</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Hotel
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>Travel
          &nbsp;
          <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
          <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/l5.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Lambasingi + Devarapalli Falls</h4>
          <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
            nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
            journey to Araku...
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <h5>price: <span class="pricetag"><b>3500</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Hotel
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>Travel
          &nbsp;
          <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
          <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/v7.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <h4 style="color:rgb(45, 75, 87);font-weight: bold;">Vizag + Devarapalli falls</h4>
          <p>Araku is a picturesque hill station of Andhra Pradesh where one can refresh, rejuvenate, relax in amid
            nature's lavish splendor. Enjoy a pleasant vacation in the lap of nature at Araku valley, nearVizag. The train
            journey to Araku...
            Araku is a famous hill station of AP. It is located at a distance of 120 KM fromVisakhapatnam It is famous
            for its scenic beauty. Located on the eastern ghats</p>
          <small style="border-style:groove; border-radius: 3px;">Pick-up & Drop-out:<span
              style="color:red">Standard</span></small>
          <small style="border-style:inset; border-radius: 3px; float:right; font-style: normal;">Package-Includes &
            Excludes:<span style="color:red">Standard</span></small>
          <br>
          <h5>price: <span class="pricetag"><b>4500</b></span></h5>
          <i class="fa fa-cutlery" aria-hidden="true"></i>Food
          &nbsp;
          <i class="fa fa-bed" aria-hidden="true"></i>Hotel
          &nbsp;
          <i class="fa fa-car" aria-hidden="true"></i>Travel
          &nbsp;
          <i class="fa fa-moon-o" aria-hidden="true"></i>Site Seeing
          <a style="float: right;" routerLink="Vizag+Aruku" class="btn btn-info">More Details</a>
        </div>
      </div>
      </div>
  