<div class="topheader">
  <div class="top">
    <span class="vertical-line"></span>
    <i class="fa fa-phone" aria-hidden="true"></i> 94933****7
    <span class="vertical-line"></span>
    &nbsp;
    <i class="fa fa-envelope" aria-hidden="true"></i> rajukantumuchu***@outlook.com
    <span class="vertical-line"></span>
    <a style=" font-size: x-large; float: right; margin: 5px;"><i class="fa fa-facebook-official"
        aria-hidden="true"></i></a>
    <a style=" font-size: x-large; float: right; margin: 5px;"><i class="fa fa-twitter-square"
        aria-hidden="true"></i></a>
    <a style=" font-size: x-large; float: right; margin: 5px;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a style=" font-size: x-large; float: right; margin: 5px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
<div class="header" style="padding:10px;">
  <h1 class="shadow title-styles">Raju Tourism</h1>
</div>

<nav class="navbar navbar-expand-lg bg-light" style="height: 60px;">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a routerLink="">
      <img class="img1" src="assets/logo.png" alt="title pic" style="float:left;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <a class="abc xyz" routerLink=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <a class="abc xyz" routerLink="travelpacks"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Tour Packs</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <a class="abc xyz" routerLink="hotels"><i class="fa fa-bed" aria-hidden="true"></i> Hotels</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <a class="abc xyz" routerLink="gallery"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <a class="abc xyz" routerLink="about"><i class="fa fa-user-circle" aria-hidden="true"></i> About Us</a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <a class="abc xyz" routerLink="contactus"><i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <li class="nav-item">
        <div class="login" *ngIf="!loggedin()">
          <a class="hij" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>&nbsp;
          <a class="hij" style="margin-right: 5px;" routerLink="register"><i class="fa fa-id-badge" aria-hidden="true"></i>Register</a>
        </div>
      </li>

        <li class="nav-item">
        <div class="login" style="margin-top: 8px;" *ngIf="loggedin()">
          <h6 style="font-size:20px">Hello,<b>{{loggedin()}}
          </b></h6>
        </div>
      </li>
      &nbsp;&nbsp;
        <li class="nav-item">
        <div class="login" *ngIf="loggedin()">
          <a class="hij" style="margin-right: 5px;" (click)="onLogout()" routerLink="login">LogOut</a>
        </div>
      </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->


    </div>
  </div>
</nav>



<!-- <div class="navbar">
  <a routerLink="">
    <img class="img1" src="assets/logo.png" alt="title pic" style="float:left;"></a>
  <a class="abc xyz" routerLink=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a class="abc xyz" routerLink="travelpacks"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Tour Packs</a>
  <a class="abc xyz" routerLink="hotels"><i class="fa fa-bed" aria-hidden="true"></i>Hotels</a>
  <a class="abc xyz" routerLink="gallery"><i class="fa fa-picture-o" aria-hidden="true"></i>Gallery</a>
  <a class="abc xyz" routerLink="about"><i class="fa fa-user-circle" aria-hidden="true"></i>About Us</a>
  <a class="abc xyz" routerLink="contactus"><i class="fa fa-phone" aria-hidden="true"></i>Contact Us</a>


  <div *ngIf="!loggedin()">
    <a class="hij" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>&nbsp;
    <a class="hij" style="margin-right: 5px;" routerLink="register"><i class="fa fa-id-badge" aria-hidden="true"></i>Register</a>
  </div>

  <div *ngIf="loggedin()">
    <h6 style="font-size:20px">Hello,<b>{{loggedin()}}
    </b></h6>
  </div>

  <div *ngIf="loggedin()">
    <a class="hij" style="margin-right: 5px;" (click)="onLogout()" routerLink="login">LogOut</a>

  </div>
</div> -->
<router-outlet></router-outlet>
<div style="background-color:rgb(63, 55, 55); padding: 10px;">
  <div class="row">
    <div class="col-sm-6">
      <br><br>
      <h4 style="color:white">ABOUT</h4>
      <br>
      <div style="color:rgb(192, 186, 186) ;">
        The Raju Winter Tourism is founded in the year 2019.Successfully compeleted 3 years in this field. Our first
        priority is our customer satisfaction
        Raju Winter Toruism is purely based on the winter locations....

        We are the holiday planners in vizag we operate both domistic and internation and local packages also for more
        information you call me on 94******37 ( 9:30 am to 8:00 pm ) and get Just ping us on +91 94******37 from 9 am-9
        pm and get your holiday booked in the most convenient way! Our travel experts will text you back & address your
        query...
      </div>
    </div>
    <div class="col-sm-3">
      <br><br>
      <h4 style="color:white ">TRAVEL PLACES</h4>
      <div style="color: rgb(192, 186, 186);">
        <br>
        Aruku<br>
        Lambasingi<br>
        Vanajangi<br>
        Deomali<br>
        Duduma Falls
      </div>

    </div>
    <div class="col-sm-3">
      <br><br>
      <h4 style="color:white">QUICK LINKS</h4>
      <a class="abc xyz" style="color:aliceblue" routerLink=""><i class="fa fa-home" aria-hidden="true"></i>
        Home</a><br>
      <a class="abc xyz" style="color:aliceblue" routerLink="about"><i class="fa fa-user-circle" aria-hidden="true"></i>
        About Us</a><br>
      <a class="abc xyz" style="color:aliceblue" routerLink="contactus"><i class="fa fa-phone" aria-hidden="true"></i>
        Contact Us</a><br>
      <a class="abc xyz" style="color:aliceblue" routerLink="privacypolicy"><i class="fa fa-user-secret"
          aria-hidden="true"></i> Privacy Policy</a><br>
      <a class="abc xyz" style="color:aliceblue" routerLink="sitemap"><i class="fa fa-map-marker"
          aria-hidden="true"></i> SiteMap</a>
    </div>
  </div>
  <hr style="color:white">
  <div style="padding:10px;color:white">Copyright &#169; The content in this website belongs to K A Raju


    <a style=" font-size: x-large; float: right; margin: 5px;"><i class="fa fa-facebook-official"
        aria-hidden="true"></i></a>
    &nbsp;
    <a style=" font-size: x-large;float: right; margin: 5px;"><i class="fa fa-twitter-square"
        aria-hidden="true"></i></a>
    &nbsp;
    <a style=" font-size: x-large;float: right; margin: 5px;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    &nbsp;
    <a style=" font-size: x-large;float: right; margin: 5px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>

</div>
