<div class="main">
    <div class="row">
            <div class="col-md-8 left">
                    <h2>Details</h2>
                    <p>Our customer satisfaction is our first priority....!</p>
                    <p>The Raju Winter Tourism is founded in the year 2019.Successfully compeleted 3 years in this field. Our first priority is our customer satisfaction Raju Winter Toruism is purely based on the winter locations.... We are the holiday planners in vizag we operate both domistic and internation and local packages also for more information you call me on 9493387837 ( 9:30 am to 8:00 pm ) and get Just ping us on +91 9493387837 from 9 am-9 pm and get your holiday booked in the most convenient way! Our travel experts will text you back & address your query...</p>
                    <p>We appreciate the opportunity to assist you. Whether, for answers to any questions about your up-coming personal trip, assistance with world-class convention/trade centers for your international business conventions and meetings, or for any other support required during your stay in Andhra Pradesh, please contact us at the following addresses.</p>
                    <p>For any enquries/compliants, please mail or contact us...We are available 24/7</p>
            </div>
            <div class="col-md-4 ">
                    <div class="right1">
                            <h3><u>Office Address :</u></h3>
                            <p><i>Plot:XYZ,</i></p>
                            <p><i>Gajuwaka,</i></p>
                            <p><i>Visakhapatnam, Andhra Pradesh</i></p>
                            <p><i>Pincode: 5300**</i></p>
                    </div>
                    <div class="right2">
                    <h3><u>Contact Us</u></h3>
                    <h5><b><u>email:</u></b></h5>
                    <p>rajukantumuchu@gamil.com</p>
                    <h5><b><u>Phone no:</u></b></h5>
                    <p>+9194******37,90*******63</p>
            </div>
            </div>
    </div>
  </div>

